# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env/

# Pipenv
Pipfile.lock

# Virtualenvs
.venv/
.venv*/

# IDE settings
.vscode/
.idea/


# MacOS
.DS_Store

# Ollama models (if cached in project)
models/
